.column img {
  width: 30%;
}

.column p {
  float: right;
  width: 67%;
  background-color: rgba(44, 26, 26, 0.911);
  color: white;
}

h3 {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 48px;
}

body {
  background-color: wheat;
}